/* Menu */
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	}

	li {
	    float: left;
	}

	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li a:hover {
	    background-color: #111;
	}

/* Titre */

	h1 {
		color: green;
	}

/* SizeBar Gauche */

	div#connexion {
 		float:right;
 		padding: 204px 100px;
 		background-color:#333;
 		display: block;
		color: white;
		text-align: left;
		padding: 14px 16px;
		text-decoration: none;

 	}
 	input#valider {

 		text-align: center; ;
 		background-color:#333;
 		display: block;
		color: white;
 	}

