/* Menu */
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	}

	li {
	    float: left;
	}

	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li a:hover {
	    background-color: #111;
	}

/* Titre */

	h1 {
		color: green;
	}

/* Banniere */

	#banniere h2 {
			color: #111;
		}

	#banniere {
		position: relative;
		background-color: rgba(21, 28, 23, 0.85);
		background-image: url("images/banniere.jpg");
		background-position: top left, center center;
		background-size: auto, 100% 250%;
		background-repeat: repeat, no-repeat;
		text-align: center;
		margin: 0;
	}

	#banniere-wrapper {
		position: relative;
		background-position: top left, top left, center center;
		background-repeat: repeat, repeat, no-repeat;
		background-size: auto, auto, cover;
		z-index: 1;